name: "Build & Release"

on:
  workflow_dispatch:
    branches: main
    

jobs:
    build:
        name: Build & Release
        runs-on: windows-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup-Java
              uses: actions/setup-java@v3.12.0
              with:
                distribution: 'oracle'
                java-version: '17'

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                flutter-version: '3.19.4'
                channel: 'stable'

            - name: Clone Repository
              run: git clone https://${{secrets.SECRET_KEY}}@github.com/punisher-303/ECHOPULS.git
            
            - name: Install Dependencies
              run: cd ECHOPULS && flutter pub get
            
            - name: Create .env file
              run: echo "CLIENT_ID = XXXXX\nCLIENT_SECRET = XXXX EOF" > ECHOPULS/assets/.env

            - name: Create keystore file
              run: |
                  $b64 = "${{ secrets.KEY_STORE }}"
                  $filename = "./ECHOPULS/android/Echopulse.jks"
                  $bytes = [Convert]::FromBase64String($b64)
                  [IO.File]::WriteAllBytes($filename, $bytes)     
              # run: echo "${{ secrets.KEY_STORE }}" | base64 --decode > ./android/Echopulse.jks

            - name: Create Keystore properties
              run: |
                  echo keyPassword=\${{ secrets.KEY_PASSWORD }} > ./ECHOPULS/android/key.properties
                  echo storePassword=\${{ secrets.STORE_PASSWORD }} >> ./ECHOPULS/android/key.properties
                  echo keyAlias=\${{ secrets.KEY_ALIAS }} >> ./ECHOPULS/android/key.properties

            - name: Build App files
              run: cd ECHOPULS && flutter build apk --release --split-per-abi --build-number ${{github.run_number}}

            - name: Verify Sign
              run: |
                  jarsigner --verify --verbose ECHOPULS/build/app/outputs/flutter-apk/app-release.apk
                  jarsigner --verify --verbose ECHOPULS/build/app/outputs/flutter-apk/app-x86-release.apk
                  jarsigner --verify --verbose ECHOPULS/build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
                  jarsigner --verify --verbose ECHOPULS/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
                  jarsigner --verify --verbose ECHOPULS/build/app/outputs/flutter-apk/app-x86_64-release.apk

            - name: Rename APK file
              run: |
                  Rename-Item -Path "ECHOPULS/build/app/outputs/flutter-apk/app-release.apk" -NewName "echo_pulse_android_v2.7.5+${{github.run_number}}_universal.apk"
                  Rename-Item -Path "ECHOPULS/build/app/outputs/flutter-apk/app-x86-release.apk" -NewName "echo_pulse_android_v2.7.5+${{github.run_number}}_x86.apk"
                  Rename-Item -Path "ECHOPULS/build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk" -NewName "echo_pulse_android_v2.7.5+${{github.run_number}}_armeabi-v7a.apk"
                  Rename-Item -Path "ECHOPULS/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk" -NewName "echo_pulse_android_v2.7.5+${{github.run_number}}_arm64-v8a.apk"
                  Rename-Item -Path "ECHOPULS/build/app/outputs/flutter-apk/app-x86_64-release.apk" -NewName "echo_pulse_android_v2.7.5+${{github.run_number}}_x86_64.apk"
           
            - name: Build Windows App
              run: cd ECHOPULS && flutter build windows --release --build-number ${{github.run_number}}

            - name: Rename file
              run: Rename-Item -Path "ECHOPULS/build/windows/x64/runner/Release/bloomee.exe" -NewName "EchoPulse.exe"
           
            - name: ZIP build
              run: Compress-Archive -Path ECHOPULS/build/windows/x64/runner/Release/* -Destination  ECHOPULS/build/windows/x64/echo_pulse_windows_x64_v2.7.5+${{github.run_number}}.zip
            
            - name: Upload Artifacts
              uses: actions/upload-artifact@v2
              with:
                name: Release
                path: |
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_universal.apk
                  ECHOPULS/build/windows/x64/echo_pulse_windows_x64_v2.7.5+${{github.run_number}}.zip
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_x86.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_armeabi-v7a.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_arm64-v8a.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_x86_64.apk

            - name: Create Release
              uses: ncipollo/release-action@v1
              with:
                artifacts: |
                  ECHOPULS/build/windows/x64/echo_pulse_windows_x64_v2.7.5+${{github.run_number}}_universal.zip
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_x86.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_armeabi-v7a.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_arm64-v8a.apk
                  ECHOPULS/build/app/outputs/flutter-apk/echo_pulse_android_v2.7.5+${{github.run_number}}_x86_64.apk
                tag: v2.7.5+${{github.run_number}}
                token: ${{secrets.SECRET_KEY}}
                prerelease: true
